html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	min-height: 180px;
	padding: 0;
	width: 550px;
}

h1{
	font-family: 'Menlo', monospace;
	font-size: 22px;
	font-weight: 400;
	margin: 0;
	color: #3773f1;
}

a:link, a:visited {
	color: red;
	outline: 0;
	text-decoration: none;
}
.img-logo{
	width: 80px;
}

.exx{
	border: solid 2px red
}

.opt-inactive{
	background-color: #8c8884;
}

.opt-active{
	background-color: #3a71d6;
}
.opt{
	text-align: center;
    border-radius: 50%;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
}